body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family:'Courier New', Courier, monospace;
}

.fisheye_train{
    display: block;
    aspect-ratio: 1959/1080;
    height: 80vh;
    top: 10%;
    position: absolute;
}

/*.fisheye_train > *{
    grid-column-start: 1;
    grid-row-start: 1;
}*/

.fisheye_inside{
    object-fit: contain;
    height: 80vh;
    width: auto;
    background-color: blue;

    animation: defaultShaking 2s infinite;
}

#zoomOne{
    display: block;
}

#zoomTwo{
    display: none;
}

@keyframes defaultShaking{
    0% { transform: translate(0, 0px); }
    10% { transform: translate(0, .5px); }
    20% { transform: translate(0, 0px); }
    30% { transform: translate(0, -5px); }
    40% { transform: translate(0, .5px); }
    50% { transform: translate(0, 0px); }
    55% { transform: translate(0, -2.5px); }
    70% { transform: translate(0, .5px); }
    80% { transform: translate(0, 0px); }
    100% { transform: translate(0, 0px); }
}

.diaBox{
    background-color:rgb(222, 250, 250);
    border: solid black 3px;
    position: absolute;
    font-size: 1vw;
    height: 72%;
    width: auto;
    top: 10%;
    padding: 1%;
}

a{
    color: #551a8B;
    text-decoration-line: underline;
}

#boxOne{
    display: block;
    aspect-ratio: 3 / 4;
    left: 75%;
}

#boxTwo{
    display: none;
    aspect-ratio: 5 / 3;
    margin-left: -5%;
}

#boxThree{
    display: none;
    aspect-ratio: 5 / 3;
    margin-left: -5%;
    height: 75%;
    font-size: .9vw;
}

#boxFour{
    display: none;
    aspect-ratio: 5 / 3;
    margin-left: -5%;
}