body{
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.fisheye_train{
    background-color: blue;
    display: block;
    height: 80vh;
    top: 10%;
    position: absolute;

    animation: defaultShaking 2s infinite;
}

/* .fisheye_train > *{
    grid-column-start: 1;
    grid-row-start: 1;
} */

.fisheye_inside{
    object-fit: contain;
    height: 80vh;
    width: auto;
}

@keyframes defaultShaking{
    0% { transform: translate(0, 0px); }
    10% { transform: translate(0, .5px); }
    20% { transform: translate(0, 0px); }
    30% { transform: translate(0, -5px); }
    40% { transform: translate(0, .5px); }
    50% { transform: translate(0, 0px); }
    55% { transform: translate(0, -2.5px); }
    70% { transform: translate(0, .5px); }
    80% { transform: translate(0, 0px); }
    100% { transform: translate(0, 0px); }
}