/*credits:
W3 schools
Stack Overflow
https://jsbin.com/jocekocuwe/edit?html,css,output this project for background scroll

*/

body{
    margin: 0;
    
}

#bg{
    background-image: url('../imgs/Draft_Train_BG.png');
    background-size: 100%;
    background-position-y: 70px;
    animation: defaultMoving 100000s linear infinite;
}

@keyframes defaultMoving{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -200000000px;
    }
}

.train{
    /*border: solid green 3px;*/
    overflow-x: scroll;
    float: left;
    margin: 0;
    display: grid;
}

.train > *{
    grid-column-start: 1;
    grid-row-start: 1;
}

#outsideLeft{
    height: 55vh;
    width: 48vh;
    margin-top: 28vh;
    position: absolute;
    /* border: solid green 3px; */
}
#outsideRight{
    height: 55vh;
    width: 48vh;
    margin-top: 28vh;
    position: absolute;
    /* border: solid green 3px; */
}

.trainInside{
    object-fit: cover;
    height: 95vh;
    width: auto;
    display: block;
    /*border: solid green 3px;*/
}

.move{
    animation: defaultShaking 2s infinite;
}

#doorsOpen{
    display: block;
}

#doorsClosed{
    display: none;
}

@keyframes defaultShaking{
    0% { transform: translate(0, 0px); }
    10% { transform: translate(0, 1px); }
    20% { transform: translate(0, 0px); }
    30% { transform: translate(0, -10px); }
    40% { transform: translate(0, 1px); }
    50% { transform: translate(0, 0px); }
    55% { transform: translate(0, -5px); }
    70% { transform: translate(0, 2px); }
    80% { transform: translate(0, 0px); }
    100% { transform: translate(0, 0px); }
}

.abt_link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*border: solid blue 3px;*/
}

#illusioner{
    height: 51.8vh;
    margin-top: 40.8vh;
    /*border: solid red 3px;*/
}

.navi{
    /*border: solid rgb(255, 0, 0) 3px;*/
    display: flex;
    aspect-ratio: 6.7 / 2;
    height: 15vh;
    margin-top: 11vh;
    align-items: center;
}

.left{
    margin-left: 8.3vh;
}

.right{
    margin-left: 182vh;
}

.prevOption img{
    object-fit: contain;
    height: 11vh;
}

.prevOption:hover{
    filter: brightness(70%);
    cursor: pointer;
}

.nextOption:hover{
    filter: brightness(70%);
    cursor: pointer;
}

.nextOption img{
    object-fit: contain;
    height: 11vh;
}

.nextStop{
    height: 10vh;
    width: 30.3vh;
    /*margin-left: 20.5vh;
    margin-top: 13vh;*/
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 2.1vh;
    padding-top: 2vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.nextStop a:hover{
    cursor: pointer;
}

.stop{
    display: block;
}