/*credits:
W3 schools
Stack Overflow
https://jsbin.com/jocekocuwe/edit?html,css,output this project for background scroll

*/

body{
    margin: 0;
}

div.train{
    background-image: url('C:/Users/tomo7/OneDrive/Desktop/Personal_Programming_Projects/V-tor_Graphica/Personal Website/imgs/Draft_Train_BG.png');
    background-size: 100%;
    background-position-y: 70px;
    animation: defaultMoving 100000s linear infinite;
}

@keyframes defaultMoving{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -200000000px;
    }
}

.train{
    /*border: solid green 3px;*/
    overflow-x: scroll;
    float: left;
    margin: 0;
    display: grid;
}

.train > *{
    grid-column-start: 1;
    grid-row-start: 1;
}

.trainInside{
    object-fit: cover;
    height: 95vh;
    width: auto;
    display: block;

    animation: defaultShaking 2s infinite;
}

@keyframes defaultShaking{
    0% { transform: translate(0, 0px); }
    10% { transform: translate(0, 1px); }
    20% { transform: translate(0, 0px); }
    30% { transform: translate(0, -10px); }
    40% { transform: translate(0, 1px); }
    50% { transform: translate(0, 0px); }
    55% { transform: translate(0, -5px); }
    70% { transform: translate(0, 2px); }
    80% { transform: translate(0, 0px); }
    100% { transform: translate(0, 0px); }
}