/*credits:
W3 schools
Stack Overflow
https://jsbin.com/jocekocuwe/edit?html,css,output this project for background scroll

*/

body{
    margin: 0;
}

div.train{
    background-image: url('../imgs/Draft_Train_BG.png');
    background-size: 100%;
    background-position-y: 70px;
    animation: defaultMoving 100000s linear infinite;
}

@keyframes defaultMoving{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -200000000px;
    }
}

.train{
    /*border: solid green 3px;*/
    overflow-x: scroll;
    float: left;
    margin: 0;
    display: grid;
}

.train > *{
    grid-column-start: 1;
    grid-row-start: 1;
}

.trainInside{
    object-fit: cover;
    height: 95vh;
    width: auto;
    display: block;
    /*border: solid green 3px;*/

    animation: defaultShaking 2s infinite;
}

@keyframes defaultShaking{
    0% { transform: translate(0, 0px); }
    10% { transform: translate(0, 1px); }
    20% { transform: translate(0, 0px); }
    30% { transform: translate(0, -10px); }
    40% { transform: translate(0, 1px); }
    50% { transform: translate(0, 0px); }
    55% { transform: translate(0, -5px); }
    70% { transform: translate(0, 2px); }
    80% { transform: translate(0, 0px); }
    100% { transform: translate(0, 0px); }
}

.abt_link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*border: solid blue 3px;*/
}

#illusioner{
    height: 51.8vh;
    margin-top: 40.8vh;
    /*border: solid red 3px;*/
}

#nextStopLeft{
    aspect-ratio: 5 / 2;
    height: 10vh;
    margin-left: 20.5vh;
    margin-top: 13vh;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 1vw;
    /*border: solid green 3px;*/
}

#nextStopLeft p{
    margin-top: 1vh;
}

#stopOne{
    display: block;
}

#stopTwo{
    display: none;
}

#stopThree{
    display: none;
}